body {
    padding: 0;
    margin: 0;
}

.nullRow {
    height: 100px;
}

.fullRow {
  height: 90vh;
}

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
  .router-link-exact-active, 
  .router-link-active{
    border-bottom: 1px solid #ccc;
  }

  .bgImage {
    background-image: url('../bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .myShadow {
    -webkit-box-shadow: 0px 0px 65px -5px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 65px -5px rgba(204,204,204,1);
box-shadow: 0px 0px 65px -5px rgba(204,204,204,1);
  }

  .myShadowHd{
    -webkit-box-shadow: 0px 0px 67px -31px rgba(51,51,51,1);
-moz-box-shadow: 0px 0px 67px -31px rgba(51,51,51,1);
box-shadow: 0px 0px 67px -31px rgba(51,51,51,1);
  }

  .myFade {
    animation: fadein 0.15s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  